<section>
    <div class="main">
        <div class="project_heading">
            Project
        </div>
        <div class="heading" *ngIf="list_task">
            <h3>{{projectTitle}}</h3><!--  -->
        </div>
        <div class="task_list" >
            <div *ngIf="list_task.length <= 0">
                <p>Chưa có task nào được tạo trong project này</p>
                <!-- <button (click)="back_click()" class="btn">Quay lại</button> -->
            </div>
            <a class="task_item" *ngFor="let task of list_task">
                <!-- [routerLink]="'/Manager/Task/'+ task.taskid"  -->
                <div class="task_title">
                     <h5>{{task.title}}</h5><!-- -->
                </div>
                <div class="progress">
                     <progress value="{{task.status}}" max="100"></progress><!-- -->
                     <label>{{task.status}}%</label><!-- -->
                </div>
            </a> 

        </div>
        <div class="btn_controller">
             <button type="button" (click)="back_click()">Back</button><!--(click)="btn_back()" -->
        </div>
    </div>
    
</section>
<div class="loading" *ngIf="loading">
    <h3>.......</h3>
</div>
