
section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.main{
    padding: 50px 10px;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 10px;
    color: white;
}
.from_account{
    width: 60%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.form_box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 20px 0;
}
.form_box label{
    position: absolute;
    top:-5px;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #181616;
    font-weight: 400;
    pointer-events: none;
    transition: .5s;
    text-transform: uppercase;
}
.form_box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #092235;
    font-weight: 600;
    padding: 0 35px 0 8px;
    text-overflow: ellipsis;
    overflow: auto;
}
.form_btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.form_btn button{
    padding: 6px 25px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: #2d2f31;
    color: white;
    opacity: .6;
}
.form_btn button:hover{
    background: black;
    opacity: 1;
    transition: .2s;
}

@media(max-width: 650px)
{
    .main{
        padding: 50px 10px;
        width: 95%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .from_account{
        width: 90%;
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}
@media(max-width: 320px){
    .main{
        padding: 30px 5px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .from_account{
        width: 95%;
        padding: 5px 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}