<section>
    <div class="main">
        <div class="heading">
           <h1>Update Account</h1> 
        </div>
        <form class="from_account" *ngIf="user_info && form_account" [formGroup]="form_account" (ngSubmit)="submit_form()">
            <div class="form_box">
                <input type="text" readonly formControlName="username" style="opacity: .5;">
                <label>Username</label>
            </div>

            <div class="form_box">         
                <input type="text" formControlName="fullname">
                <label>Full name</label>
            </div>

            <div class="form_box"> 
                <input type="text" formControlName="email">
                <label>Email</label>
            </div>

            <div class="form_box">    
                <input type="password" formControlName="password"> 
                <label>Password</label>
            </div>
            <div class="form_box">
                <input type="password" placeholder="Nếu không đổi mật khẩu thì nhập lại mật khẩu hiện tại" formControlName="newpassword">
                <label>New password <span style="color: red;">*</span></label>
            </div>
            <div class="form_box" *ngIf="user_info.isadmin===1">
                <p>This is the ADMIN account</p>
            </div>
            <p>{{check_update}}</p>
            <div class="form_btn">
                <button type="submit">Update</button>
            </div>
        </form>
    </div>
</section>
